<h1>三目並べ</h1>
<table>
  <% (0..2).each do |row| %>
    <tr>
      <% (0..2).each do |col| %>
        <td style="width: 50px; height: 50px; border: 1px solid black; text-align: center;">
          -
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
